<h1>Desde express handlebars</h1>
<h2>Mi nombre es {{usuario.nombre}}, y mi apellido es {{usuario.apellido}}</h2>

{{#if usuario.mayorEdad}}
<h3>Soy mayor de edad</h3>
{{else}}
<h3>Soy menor de edad</h3>
{{/if}}